<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="ERPCustomConfig">
      <section name="ZnodeChatGPTConnector" type="Znode.Engine.ERPConnector.Model.XMLConfigurationModel, Znode.Engine.ERPConnector"  />
    </sectionGroup>
  </configSections>

  <ERPCustomConfig>
    <ZnodeChatGPTConnector>
      <controls>
        <add type="password" name="ChatGPTAPIKey" value="" label="ChatGPT API Key" Id="txtChatGPTAPIKey"  CSSClass="" />
        <add
          type="Text"
          name="ChatGPTCompletionAPIURL"
          value="https://api.openai.com/v1/completions"
          label="ChatGPT Completion API URL"
          Id="txtChatGPTCompletionAPIURL"
          CSSClass=""
        />
        <add 
          type="Text" 
          name="ChatGPTFeedbackClassifierModel" 
          value="text-davinci-003" 
          label="Feedback Classifier Model"  
          Id="txtChatGPTFeedbackClassifierModel"  
          CSSClass=""
        />
        <add
          type="Text"
          name="ChatGPTFeedbackClassifierPrompt"
          value=""
          label="Feedback Classifier Prompt"
          Id="txtChatGPTFeedbackClassifierPrompt"
          CSSClass=""
        />
      </controls>
    </ZnodeChatGPTConnector>
  </ERPCustomConfig>

</configuration>
